<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My-Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="showImg">
    <div class="outer-circle">
			<div class="inner-circle">
				<img class="rounded" src="./assets/img/Me.jpg" alt="Placeholder Image">
			</div>
	</div>
  </div>
  <svg viewBox="0 0 450 50">
    <text y="50">Hello!! Welcome to</text>
    <text y="90">my Profile</text>
  </svg>
  <ion-title>My Name is</ion-title>
  <ion-title>Rishikesh</ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-family: Verdana;">ABOUT ME</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I am a passionate  programmer who loves coding and try to solve various problems regarding coding.I have a strong desire to learn and stay up-to-date with emerging technologies in the field of software development.
    </ion-card-content>
  </ion-card>
  <ion-title>Let's see </ion-title>
  <ion-title>what I know</ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-family: Verdana;">PYTHON</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.70"></ion-progress-bar>
      <ion-label>70 / 100</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-family: Verdana;">JAVA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.60"></ion-progress-bar>
      <ion-label>60 / 100</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-family: Verdana;">MYSQL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.55"></ion-progress-bar>
      <ion-label>55 / 100</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-family: Verdana;">FLUTTER</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.75"></ion-progress-bar>
      <ion-label>75 / 100</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
